NEXT_PUBLIC_API_URL=http://localhost:5000/api
NEXT_PUBLIC_STORE_NAME=Krishna Enterprises
NEXT_PUBLIC_STORE_CITY=Madhuban, East Champaran, Bihar
NEXT_PUBLIC_STORE_PHONE=07256955630
NEXT_PUBLIC_STORE_ADDRESS=Machhaha Chowk, Chakia - Madhuban - Sheohar Rd, Rupni, Jogaulia Tola Kharsal, Bihar 845420

# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCzB69zrBiylqq7Q6WDtiVSEel34NAs5hk
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=krishna-enterprises-77254.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=krishna-enterprises-77254
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=krishna-enterprises-77254.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=258175597302
NEXT_PUBLIC_FIREBASE_APP_ID=1:258175597302:web:c03fc28bf882716b4e4ad7
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-KMMTNSVFZS
